{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Delivery address" %} | {{ block.super }}
{% endblock %}

{% block main-menu %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Delivery address" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block shipping_address %}    
<div class="col-sm-12">
    <div class="sub-header" style="padding-bottom:50px">
        <h4>{% trans "Where should we pick-up and deliver to?" %}</h4>
    </div>
    <hr>
    <div class="choose-block">
        <div class="row">
            {% if user.is_authenticated %}
                {% if addresses %}
                    {% for address in addresses %}
                        {% block select_address_form %}
                            <div class="col-sm-6">
                                <h3 class="text-center text-capitalize">{% trans "An address from your address book?" %}</h3>
                                <div class="delivery-form">
                                    <address>
                                        {% block select_address_fields %}
                                            {% for field in address.active_address_fields %}
                                                <span>{{ field }}</span>{% if not forloop.first %}<br/>{% endif %}
                                            {% endfor %}
                                        {% endblock %}
                                    </address>
                                    <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="ship_to" />
                                        <input type="hidden" name="address_id" value="{{ address.id }}" />
                                        {% if address.is_default_for_shipping %}
                                            <button type="submit" class="btn btn-success btn-large ship-address" data-loading-text="{% trans 'Saving...' %}"><i class="icon-ok"></i> {% trans "Pick-up & Deliver to your default address" %}</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-primary btn-large ship-address" data-loading-text="{% trans 'Saving...' %}">{% trans "Pick-up & Deliver to this address" %}</button>
                                        {% endif %}

                                        <div class="btn-group address-controls">
                                            <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="btn btn-default btn-sm">{% trans "Edit address" %}</a>
                                            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="btn-remove-address">{% trans "Delete" %}</a></li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endblock %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            <div class="{% if addresses %}col-sm-6{% else %} login-page {% endif %}">
                    {% block new_address_form %}
                    <h3 class="text-center text-capitalize">{% trans "new address" %}</h3>
                    <div class="delivery-form">
                        <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
                            {% csrf_token %}
                            {% include "partials/form_fields.html" with form=form %}
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="text-uppercase btn btn-lg btn-primary" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock shipping_address %}
