<!DOCTYPE html>
{% load static %}
{% load basket_tags %}
{% load product_tags %}
{% load i18n %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

    <!-- Stylesheets -->


    {# Block where global CSS will go. #}
    {% block styles %}
    <link href="{% static 'loomcleaners/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'loomcleaners/css/responsive.css' %}" rel="stylesheet">
    {% endblock %}

    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}
    <link href="{% static 'loomcleaners/css/custom/theme-2.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'loomcleaners/images/favicon.ico' %}" type="image/x-icon">
    {% endblock %}

    {% block extrahead %}{% endblock %}

    {% block tracking %}
    {# Default to using Google analytics #}
    {% include "partials/google_analytics.html" %}
    {% endblock %}
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="2177651405613432">
    </div>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '347731275799215');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=347731275799215&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

</head>

<!-- page wrapper -->

<body class="boxed_wrapper">
    {# Scripts loaded from a CDN. #}
    {% block cdn_scripts %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')</script>
    <script src="https://unpkg.com/typewriter-effect@2.3.1/dist/core.js"></script>
    {% endblock %}




    <!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->

    <!-- menu-area -->
    <header class="main-header">
        <div id="zipcodeError" class="modal fade centered-modal" tabindex="-1" role="dialog"
            aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="single-working-content" style="border: 1px solid #f7f7f7;">
                                    <div class="icon-box">
                                        <div class="icon"><i class="flaticon-placeholder"></i></div>
                                    </div>
                                    <h3 id="zipcodeErrorMessage">
                                        we are currently not available in your area
                                    </h3>
                                    <div class="count-text"
                                        style="background: #f7f7f7;width:65px;height:65px;line-height:65px;">
                                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <!-- header middle -->
        <div class="header-top">
            <div class="container">
                <div class="logo-box">
                    <a href="{% url 'promotions:home' %}"></a>
                </div>
                <div class="header-info">
                    <div class="single-info">
                        <div class="icon-box"><i class="fa fa-envelope"></i></div>
                        <div class="text">support@loomcleaners.com</div>
                    </div>
                    <div class="single-info">
                        <div class="icon-box"><i class="fa fa-phone"></i></div>
                        <div class="text">Got Questions.. <br />(877)-646-4339</div>
                    </div>
                    <div class="top-btn text-center">

                        <div class="search-box-area">
                            <form class="form-inline" onsubmit="checkRegionCoverage(this, event)">
                                <div class="input-group">
                                    <input type="text" id="PickupzipCode" class="form-control input-sm"
                                        placeholder="Enter Zip Code">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Get Started</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- header middle end -->
        <div style="padding-top: 25px">
            <p class="text-center" style="color:#fff;font-weight: bolder;">
                We currently service <span style="color:#a05ab0" id="regionCoverage"></span>
            </p>
        </div>
        <div id=""></div>
        <script>
            var app = document.getElementById('regionCoverage');

            var typewriter = new Typewriter(app, {
                loop: true
            });

            typewriter.typeString('Sugarland')
                .pauseFor(500)
                .deleteAll()
                .typeString('Richmond')
                .pauseFor(500)
                .deleteAll()
                .typeString('Houston')
                .pauseFor(500)
                .deleteAll()
                .typeString('Rice Village')
                .pauseFor(500)
                .start();

        </script>
        <script>
            function checkRegionCoverage(form, e) {
                e.preventDefault();
                const SERVICE_REGIONS = ['77079', '77098', '77057', '77027', '77030', '77019', '77005', '77056',
                    '77024', '77407', '77406', '77493', '77494', '77490', '77450', '77449', '77448', '77024',
                    '77056', '77057', '77008', '77098', '77005', '77046', '77027', '77401', '77030', '77083'
                ]
                const pickupZipCode = form.elements.namedItem('PickupzipCode').value
                let gotoUrl = 'http://{{request.get_host}}' + '{% url "catalogue:index" %}'
                if (SERVICE_REGIONS.includes(pickupZipCode)) {
                    $(location).attr('href', gotoUrl)
                }
                else {
                    if (!pickupZipCode) {
                        let messageElm = document.getElementById('zipcodeErrorMessage');
                        let innerHtml = '<p>Please Enter Your Zipcode</p><form class="form-inline" onsubmit="checkRegionCoverage(this, event)"><div class="input-group"><input type="text" id="PickupzipCode" class="form-control input-sm" style="height:34px" placeholder="Enter Zip Code"><span class="input-group-btn"><button class="btn btn-primary" type="submit">Get Started</button></span></div></form>';
                        messageElm.innerHTML = innerHtml
                    }
                    $('#zipcodeError').modal('show')
                }
            }
        </script>

        {% block main-menu %}
        <!-- main-menu-area -->
        <div class="theme_menu stricky">
            <div class="container">
                <div class="menu-area">
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="{% url 'promotions:home' %}">Home</a></li>
                                <li><a href="{% url 'promotions:home' %}#about">About Us</a></li>
                                <li><a href="{% url 'promotions:home' %}#services">Services</a></li>
                                <li><a href="{% url 'promotions:home' %}#contact">Contact</a></li>
                                {% if user.is_authenticated %}
                                <li>
                                    {% if num_unread_notifications > 0 %}
                                    {# If user has new notifications - we change account link to go to inbox #}
                                    <a href="{% url 'customer:notifications-inbox' %}">
                                        <i class="icon-user"></i>
                                        {% trans "Account" %}
                                        <span class="label label-warning">{{ num_unread_notifications }}</span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'customer:summary' %}"><i class="icon-user"></i>
                                        {% trans "Account" %}</a>
                                    {% endif %}
                                </li>
                                {% if user.is_staff or perms.partner.dashboard_access %}
                                <li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i>
                                        {% trans "Dashboard" %}</a></li>
                                {% endif %}
                                <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i>
                                        {% trans "Logout" %}</a></li>
                                {% endif %}
                            </ul>

                            <!-- mobile menu -->
                            <ul class="mobile-menu clearfix">
                                <li class="current"><a href="{% url 'promotions:home' %}">Home</a></li>
                                <li><a href="{% url 'promotions:home' %}#about">About us</a></li>
                                <li><a href="{% url 'promotions:home' %}#services">Services</a></li>
                                <li><a href="{% url 'promotions:home' %}#contact">Contact</a></li>
                                {% if user.is_authenticated %}
                                <li>
                                    {% if num_unread_notifications > 0 %}
                                    {# If user has new notifications - we change account link to go to inbox #}
                                    <a href="{% url 'customer:notifications-inbox' %}">
                                        <i class="icon-user"></i>
                                        {% trans "Account" %}
                                        <span class="label label-warning">{{ num_unread_notifications }}</span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'customer:summary' %}"><i class="icon-user"></i>
                                        {% trans "Account" %}</a>
                                    {% endif %}
                                </li>
                                {% if user.is_staff or perms.partner.dashboard_access %}
                                <li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i>
                                        {% trans "Dashboard" %}</a></li>
                                {% endif %}
                                <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i>
                                        {% trans "Logout" %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                    <div class="search-box-area">
                        <a id="login_link" style="color: #a05ab0;display: block;font-size: 18px;font-weight: 600;line-height: 26px;padding: 10px 0px 18px 0px;font-family: 'Poppins', sans-serif;
                            transition: all 500ms ease 0s;"
                            href="{% if not user.is_authenticated %}{% url 'customer:login' %}{% endif %}"
                            class="{% if user.is_authenticated %}btn disabled{% endif %}">
                            <i class="icon-signin"></i> {% trans "Login or register" %}
                        </a>
                    </div>

                </div>
            </div>
        </div><!-- end main-menu -->
        {% endblock main-menu %}
    </header>
    <!-- end menu-area -->
    {% block content %}
    {% endblock content %}
    <!-- main-footer -->
    <footer id="contact" class="main-footer overlay-bg">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-right footer-column">
                        <div class="logo-widget footer-widget">
                            <div class="footer-logo"><a href="{% url 'promotions:home' %}"><img
                                        src="{% static 'loomcleaners/images/footer/logo.png' %}" alt=""></a></div>
                            <div class="text white">
                                Loom Cleaners Always Provides Hassle Free Door to Door Free Pick and Delivery <strong
                                    class="h3">Unlimited Laundry</strong> Service
                            </div>
                            <div class="location-box">
                                <div class="icon-box"><i class="fa fa-map-marker"></i></div>
                                <div class="text white">19221 Beechnut St. Suite # 235, <br />Richmond,Tx.77407.1,
                                    USA</div>
                            </div>
                            <ul class="footer-social in-block">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 footer-column">
                        <div class="service-widget footer-widget">
                            <div class="footer-title">
                                <h4>Services</h4>
                            </div>
                            <ul class="list">
                                <li><a href="{% url 'promotions:home' %}#pickup-n-delivery">- &nbsp;Free pick-up and
                                        delivery</a></li>
                                <li><a id="" href="#">- &nbsp;High quality</a></li>
                                <li><a href="{% url 'promotions:home' %}#services">- &nbsp;Drapery cleaning</a></li>
                                <li><a href="{% url 'promotions:home' %}#services">- &nbsp;Dry cleaning</a></li>
                                <li><a data-toggle="modal" data-target="#myModal" href="#">- &nbsp;Faq</a></li>
                                <li><a href="{% url 'promotions:home' %}#services">- &nbsp;Silk and suede</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom centred">
            <div class="container">
                <div class="container">
                    <div class="copyright">&copy;{% now "Y" %} <a href="#">Loom Cleaners</a>. All Rights Reserved.</div>
                </div>
            </div>
        </div>
        <div class="bubbleContainer">
            <div class="bubble-1"></div>
            <div class="bubble-2"></div>
            <div class="bubble-3"></div>
            <div class="bubble-4"></div>
            <div class="bubble-5"></div>
            <div class="bubble-6"></div>
            <div class="bubble-7"></div>
            <div class="bubble-8"></div>
            <div class="bubble-9"></div>
            <div class="bubble-10"></div>
            <div class="bubble-11"></div>
            <div class="bubble-12"></div>
            <div class="bubble-13"></div>
            <div class="bubble-14"></div>
            <div class="bubble-15"></div>
        </div>
    </footer>
    <!-- main-footer end -->




    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span>
    </div>


    # Local scripts #}
    {% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>

    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}"></script>
    {% endblock %}

    {% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
    {% endblock %}

    {% block onbodyload %}
    {{ block.super }}
    oscar.init();
    {% endblock %}

    <!--jquery js -->
    <script type="text/javascript" src="{% static 'loomcleaners/js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'loomcleaners/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'loomcleaners/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'loomcleaners/js/wow.js' %}"></script>
    <script src="{% static 'loomcleaners/js/validation.js' %}"></script>
    <script src="{% static 'loomcleaners/js/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'loomcleaners/js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'loomcleaners/js/jQuery.style.switcher.min.js' %}"></script>
    <script src="{% static 'loomcleaners/js/html5lightbox/html5lightbox.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>
    <script src="{% static 'loomcleaners/js/gmaps.js' %}"></script>
    <script src="{% static 'loomcleaners/js/map-helper.js' %}"></script>

    <!-- revolution slider js -->
    <script src="{% static 'loomcleaners/js/slider-active.js' %}" type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/jquery.themepunch.tools.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/jquery.themepunch.revolution.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/extensions/revolution.extension.actions.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/extensions/revolution.extension.carousel.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/extensions/revolution.extension.migration.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/extensions/revolution.extension.navigation.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/extensions/revolution.extension.parallax.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"
        type="text/javascript"></script>
    <script src="{% static 'loomcleaners/revolution/js/extensions/revolution.extension.video.min.js' %}"
        type="text/javascript"></script>



    <script src="{% static 'loomcleaners/js/script.js' %}"></script>

</body><!-- End of .page_wrapper -->

</html>