{% extends "alt_base.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
        <li class="active">{{ product.title }}</li>

        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<section class="page-title">
<div class="container-fluid"><!-- Start of product page -->

    <div class="row">
        {% block product_gallery %}
            <div class="col-sm-6">
                {% include "catalogue/partials/gallery.html" %}
            </div>
        {% endblock %}

        {% block product_main %}
        <div class="col-sm-6 product_main text-center">
            <h1 class="text-capitalize">{{ product.get_title }}</h1>

            {% block product_stock_record %}
                {% include "catalogue/partials/stock_record.html" with verbose=1 %}
            {% endblock %}

            <hr/>

            {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <strong class="h3">{% trans "Product Description" %}</strong>
        </div>
        <p class="text-center">{{ product.description|safe }}</p>
        <p class="text-center">{{ product.details }}</p>
        {% block product_basket_form %}
            
            {% include "catalogue/partials/add_to_basket_form.html" %}
                
            {% endblock %}
        <hr>
        <div class="col-sm-12">
            {% if product.is_discountable %}
            <table class="table table-striped">
            {% for av in product.attribute_values.all %}
                <tr class="single-pricing-content">
                    {% if not av.attribute.name|lower == 'quantity' and av.value is True %}
                    <th class="text-capitalize">{{ av.attribute.name }}</th>
                    <td class="text-capitalize check" style="float:right;border-top: 0;"></td>
                    {% elif av.value %}
                    <th class="text-uppercase">{{ av.attribute.name }}</th>
                    <td class="text-capitalize text-right">{{av.value}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% else %}
        <table class="table table-striped">
        {% for av in product.attribute_values.all %}
            <tr class="single-pricing-content">
                {% if av.value is True %}
                <th class="text-capitalize check" style="padding-left: 20px;">{{ av.attribute.name }}</th>
                <td class="text-capitalize text-right">unlimited</td>
                {% elif av.value %}
                <th class="text-capitalize check" style="padding-left: 20px;">{{ av.attribute.name }}</th>
                <td class="text-capitalize text-right">{{av.value}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        {% endif %}
        </div>
        {% endif %}
    {% endblock %}
            
        </div><!-- /col-sm-6 -->
        {% endblock %}

    </div><!-- /row -->
    {% include 'partials/package_items.html' %}
    {% include 'partials/testimonials.html' %}

    {% recently_viewed_products current_product=product %}

        </div><!-- End of product page -->
</section>
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
