{% load basket_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy %}
    {% basket_form request product as basket_form %}
            <div class="col-sm-12">
                    <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}?next={% url 'checkout:index'%}" method="post" class="add-to-basket">
                            {% csrf_token %}
                            {% include "partials/form_fields.html" with form=basket_form %}
                            <button type="submit" class="text-uppercase btn btn-lg btn-primary btn-add-to-basket" value="{% trans 'schedule laundry Pickup' %}" data-loading-text="{% trans 'Adding...' %}">{% trans "schedule laundry Pickup" %}</button>
                        </form>
            </div>
    
{% else %}
    {% if has_active_alert %}
        <p>{% trans "You have an active stock alert for this product." %}</p>
    {% else %}
        <form id="alert_form" method="post" action="{% url 'customer:alert-create' pk=product.id %}" class="add-to-basket">
            {% csrf_token %}
            <p>{% trans "You can get an email alert when this product is back in stock." %}</p>
            {% include "partials/form_fields.html" with form=alert_form %}
            <button type="submit" class="btn btn-lg btn-info btn-add-to-basket" data-loading-text="{% trans 'Submitting...' %}">{% trans "Notify me" %}</button>
        </form>
    {% endif %}
{% endif %}
