{% extends "alt_base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Login or register' %}</li>
    </ul>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<section class="page-title">
    <div class="container">
        <div class="login-page">
                {% if login_form.is_bound and not login_form.is_valid %}
                <div class="alert alert-danger text-center">
                    <strong>We found some errors</strong> - please check the error messages in your <strong class="text-uppercase">login form</strong> and try again
                </div>
            {% endif %}
                <div class="form">
                    <form action="{{ request.get_full_path }}" method="post" class="register-form login-signup-form">
                        <h2 class="title-text text-center">{% trans 'Join For Free' %}</h2>
                        {% csrf_token %}
                        {% include "partials/form_fields.html" with form=registration_form %}
                        <button name="registration_submit" type="submit" value="Create Account" class="text-uppercase btn btn-block btn-sm btn-primary" data-loading-text="{% trans 'Registering...' %}">{% trans 'Get Unlimited Laundry' %}</button>
                        <p class="message">
                            Already registered? 
                            <button class="text-uppercase btn btn-link" type="button">
                                <strong>log into account </strong>
                        </button></p>
                    </form>
                    <form action="{{ request.get_full_path }}" method="post" class="login-form login-signup-form" >
                        <h2 class="title-text">{% trans 'Account Login' %}</h2>
                        {% csrf_token %}
                        {% include "partials/form_fields.html" with form=login_form %}
                        
                        <button name="login_submit" type="submit" value="Log In" class="btn btn-sm btn-block btn-primary" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log Into Account' %}</button>
                        <p class="message h2 text-center">Not registered? <button class="btn btn-link text-uppercase" type="button">join for free</button></p>
                        <p class="text-center"><a class="text-capitalize btn btn-link" href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('.message button').click(function(){
   $('.login-signup-form').animate({height: "toggle", opacity: "toggle"}, 2000);
});
</script>

{% endblock content %}
